code/*.iml
code/.gradle
code/local.properties
code/.idea/caches
code/.idea/libraries
code/.idea/modules.xml
code/.idea/workspace.xml
code/.idea/navEditor.xml
code/.idea/assetWizardSettings.xml
code/.DS_Store
code/build
code/captures
code/.externalNativeBuild
code/.cxx
~*
code/.idea/usage.statistics.xml
code/.idea/shelf/*
.idea/misc.xml
.idea/workspace.xml
code/.idea/deploymentTargetSelector.xml
.idea
backend server/password.json
code/app/src/main/java/com/ceid/Network/ApiClient.java
code/app/src/main/res/xml/network_security_config.xml
app database/password.json
node_modules_old
node_modules
.DS_Store


code_temp/*.iml
code_temp/.gradle
code_temp/local.properties
code_temp/.idea/caches
code_temp/.idea/libraries
code_temp/.idea/modules.xml
code_temp/.idea/workspace.xml
code_temp/.idea/navEditor.xml
code_temp/.idea/assetWizardSettings.xml
code_temp/.DS_Store
code_temp/build
code_temp/captures
code_temp/.externalNativeBuild
code_temp/.cxx
code_temp/.idea/usage.statistics.xml
code_temp/.idea/shelf/*
~*